@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo(a)!</h1>
    <p>Aprenda como <a href="https://docs.microsoft.com/aspnet/core"> construir aplicativos Web com ASP.NET Core</a>.</p>
</div>

<h2>Obrigado por usar o site!</h2>